/*--------------- Variables -------------*/
:root {
  /* --background-color: #e0e0e0; */
  --background-color: #4158d0;
  --background-imge: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  --primary-color: #e0e0e0;
  --secondary-color: #b7a9c4;
  --font-color: #363636;
  --padding-medium: 1rem;
  --padding-small: 0.5rem;
  --padding-large: 2rem;
}
body {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    117deg,
    rgba(63, 94, 251, 0.9) 0%,
    rgba(252, 70, 106, 0.9) 100%
  );
  color: var(--font-color);
}

.header {
  z-index: 10;

  background-color: var(--primary-color);
  position: sticky;
  top: 0px;
  text-align: center;
  padding: var(--padding-small);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.28);
}
.header__title {
  font-weight: 300;
}
.header__title:hover {
  /* text-shadow: 2px 3px 2px rgba(153, 153, 153, 0.65); */
}
.main {
  height: 100vh;
  /* border:2px solid #ffe260 ; */
  padding: var(--padding-large);
  display: flex;
  flex-direction: column;
  gap: var(--padding-large);
  /* justify-content: center; */
  /* align-items: center; */
}
.card {
  /* border:2px solid #4e4e4e ; */
  border-radius: 20px;
  background: #e0e0e0;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow:
    -4px -2px 16px 0px #ffffff,
    4px 2px 16px 0px rgb(95 157 231 / 48%);

  padding: var(--padding-medium);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-medium);
}
.card__title {
  font-weight: 700;
  font-size: 1.7rem;
  text-shadow: 2px 3px 2px rgba(94, 143, 158, 0.25);
}
.card:hover {
  /* border:2px solid #4e4e4e ; */
  border-radius: 20px;
  /* border-radius: 50px; */
  background: #e0e0e0;
  box-shadow:
    -2px -1px 8px 0px #ffffff,
    2px 1px 8px 0px rgb(95 157 231 / 48%);
}
.card__bookmark-button {
  align-self: flex-end;
}
.card__bookmark-button__img {
  height: 1.5rem;
  width: 1.5rem;
}
.card__hastag-container {
  /* align-self: flex-start; */
}
.card__hastag {
  border-radius: 7px;
  color: rgb(255, 255, 255);
  padding: 0rem 0.5rem;
  background: #cfcfcf;
  box-shadow:
    inset 20px 20px 60px #9b9b9b,
    inset -20px -20px 60px #ffffff;
}
.card__hastag:hover {
  box-shadow: inset 20px 20px 60px #3f3f3f;
}
.footer {
  z-index: 10;
  background-color: var(--primary-color);
  position: sticky;
  bottom: 0px;
}
.nav {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: stretch; */
  /* padding: var(--padding-medium); */
  /* flex-basis: ; */
}
.nav__link {
  display: flex;
  justify-content: space-around;
  padding: var(--padding-medium);
  width: 100%;
  /* border:1px solid #0f7c14 ; */
}
.nav__link:hover {
  /* border: 2px solid rgb(201, 201, 201); */
  background-color: #d9dadb;
}
.nav--current {
  background-color: #e0e8ef;
}
.nav__icon {
  /* border:1px solid #FFCC70 ; */

  height: 1.7rem;
}
/* ---------------profile------------ */
.profile-container {
  background-color: #e0e0e0da;
  border-radius: 20px;
  margin: var(--padding-medium);
}
.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-large);
}
.profile-card-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border:1px solid #FFCC70 ; */
}
.profile-card-about {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
}
.profile-card-button {
  display: flex;
  justify-content: space-evenly;
}
.button-flex {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-color);
  border-radius: 10px;
  gap: var(--padding-small);
  align-items: center;
}
.profile-card-button-img {
  width: 1.5rem;
}
.profile-card-setting {
  display: flex;
  flex-direction: column;
}
.profile-card-setting-dark {
  display: flex;
  justify-content: space-between;
}
