/* Credits to Barış Doğan Sütçü, https://uiverse.io/barisdogansutcu/black-duck-67 */

.card__show-answer-button,
.profile-card__button--flex {
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 10px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow:
    -4px -2px 16px 0px #ffffff,
    4px 2px 16px 0px rgb(95 157 231 / 48%);
}

.card__show-answer-button:hover,
.profile-card__button--flex:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow:
    -2px -1px 8px 0px #ffffff,
    2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.card__show-answer-button:active,
.profile-card__button--flex:active
 {
  box-shadow: none;
}

.card__bookmark-button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position:absolute;
  top: -7px;
}