.card {
  /* border:2px solid #4e4e4e ; */
  position: relative;
  border-radius: 20px;
  background: #e0e0e0;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow:
    -4px -2px 16px 0px #ffffff,
    4px 2px 16px 0px rgb(95 157 231 / 48%);

  padding: var(--padding-medium);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-medium);
}
.card__title {
  font-weight: 700;
  font-size: 1.7rem;
  text-shadow: 2px 3px 2px rgba(94, 143, 158, 0.25);
}
.card:hover {
  /* border:2px solid #4e4e4e ; */
  border-radius: 20px;
  /* border-radius: 50px; */
  background: #e0e0e0;
  box-shadow:
    -2px -1px 8px 0px #ffffff,
    2px 1px 8px 0px rgb(95 157 231 / 48%);
}
.card__bookmark-button {
  align-self: flex-end;
}
.card__bookmark-button__img {
  height: 1.5rem;
  width: 1.5rem;
}
.card__hastag-container {
  /* align-self: flex-start; */
}
.card__hastag {
  border-radius: 7px;
  color: rgb(255, 255, 255);
  padding: 0rem 0.5rem;
  background: #cfcfcf;
  box-shadow:
    inset 20px 20px 60px #9b9b9b,
    inset -20px -20px 60px #ffffff;
}
.card__hastag:hover {
  box-shadow: inset 20px 20px 60px #3f3f3f;
}